.line {
  width: 5rem;
  height: 5px;
  background: #000;
}
.layer {
  background-color: #1abc9cd4;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}
.layer:hover {
  opacity: 1;
}
.pointer {
  cursor: pointer;
}

.layer-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #1abc9cd4;
  z-index: 999;
}
.layer-fixed img {
  width: 40%;
}
